<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio 04 || Harry Potter - HOWARDS RAILS</title>

  </head>
  <body>
    <div class="container">
      <h1>Desafio de deploy con Fake en RoR!</h1>
      <p>La siguiente información ha sido generada con la gema Fake:</p>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>House</th>
          </tr>
        </thead>
        <tbody>
          <% @characteres.each do |char| %>
          <tr>
            <td><%= char.name %></td>
            <td><%= char.location %></td>
            <td><%= char.house %></td>
          </tr>
          <% end %>

        </tbody>
      </table>
    </div>
  </body>
</html>
